
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Millenicom</h2>
    <p>This website contains web service applications with .NET MVC for Millenicom Internship candidate sample project.</p>
</div>


