@using (Html.BeginForm())
{
    <h3></h3>
    <label>Function Name</label>
    <input type="text" name="funcName" class="form-control" placeholder="Function Name" /><br />
    <button type="submit" class="btn btn-primary">Send </button>
}
<h3>@ViewBag.functionCounterMessage</h3>



