@using (Html.BeginForm())
{
    <h3></h3>
    <label>Parameters</label>
    <input type="text" name="param1" class="form-control" placeholder="Text" /><br/>
    <input type="text" name="param2" class="form-control" placeholder="Pattern" /><br/>
    <button type="submit" class="btn btn-primary">FindPattern</button>
}
<h3>@ViewBag.findPatternMessage</h3>
